<div style="display: flex; align-items: center; justify-content: center; height: 100vh">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div *ngIf="offerings.length" class="container">
        <div *ngIf="offerings" class="container">
            <ul class="offering-list-container">
                <li [ngClass]="selectedCode===offering.productOfferingCode?'selected':''"
                    *ngFor="let offering of offerings"
                    (click)="detailsOffering(offering)"><span>{{offering.displayName}}</span></li>
            </ul>
        </div>


        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="contractFormGroup">
                <form [formGroup]="contractFormGroup">
                    <ng-template matStepLabel>Chose contract</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose an option</mat-label>
                        <mat-select formControlName="productOfferingCode">
                            <mat-option [value]="offering.productOfferingCode"
                                        *ngFor="let offering of offerings">{{offering.displayName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext [disabled]="!contractFormGroup.valid">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="PersonalInfoGroup" label="Fill customer information">
                <form [formGroup]="SSNFormGroup">
                    <mat-form-field appearance="fill">
                        <mat-label>SSN</mat-label>
                        <input matInput formControlName="ssnId" placeholder="ÅÅÅÅMMDDNNNN"
                               required>
                    </mat-form-field>
                    <button mat-button (click)="getDataBySSN()" [disabled]="!SSNFormGroup.valid">Get info
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </form>
                <form [formGroup]="PersonalInfoGroup" *ngIf="acceptedScore">
                    <div class="d-flex flex-row flex-wrap flex-md-nowrap">
                        <mat-form-field appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstname" placeholder="John" [readonly]="readonly"
                                   required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastname" placeholder="Doe" [readonly]="readonly"
                                   required>
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address" placeholder="Addr" [readonly]="readonly"
                               required>
                    </mat-form-field>
                    <div class="d-flex flex-row flex-wrap flex-md-nowrap">
                        <mat-form-field appearance="fill">
                            <mat-label>Phone Number</mat-label>
                            <input matInput formControlName="mobilePhoneNumber" placeholder="12345678"
                                   [readonly]="readonly"
                                   required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="JohnDoe@gmail.com"
                                   [readonly]="readonly"
                                   required>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row flex-wrap flex-md-nowrap">
                        <mat-form-field appearance="fill">
                            <mat-label>Zip Code</mat-label>
                            <input matInput formControlName="zipCode" placeholder="220015" [readonly]="readonly"
                                   required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city" placeholder="Berlin" [readonly]="readonly"
                                   required>
                        </mat-form-field>
                    </div>
                </form>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext [disabled]="!PersonalInfoGroup.valid && !this.acceptedScore">
                        Next
                    </button>
                </div>
            </mat-step>
            <mat-step [stepControl]="PhoneFormGroup" label="Activation info">
                <form [formGroup]="PhoneFormGroup">
                    <mat-form-field appearance="fill">
                        <mat-label>Phone number</mat-label>
                        <input matInput formControlName="number" placeholder="465********" [readonly]="readonly"
                               required>
                    </mat-form-field>
                    <button mat-button (click)="bookNumbers()">Get number</button>
                </form>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext [disabled]="!PhoneFormGroup.valid">Next</button>
                </div>

            </mat-step>
            <mat-step [stepControl]="SSNFormGroup" label="Summary">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="order()">Order</button>
                <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>

</div>

