ul {
  list-style: none;
  margin-right: 50px;
}

li {
  border-radius: 5px;
  border: 2px solid #d8d8d8;
  width: max-content;
  background: #f3e5d3;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;

}

li:hover {
  background: #C6BBACFF;
  cursor: cell;
}

li:active {
  background: #f3d2ae;
}

.offering-list-container {
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
}

.selected {
  background: #a7e77a;
}

.container {
  display: flex;
  align-items: center;
}

.actions {
  //button {
  //  border: 2px solid #d8d8d8;
  //  border-radius: 5px;
  //}
}
